
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 25px;


// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: #F5F5F1;

}
a{
  text-decoration: none;

}

header{
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #DBDBD8;

// To select the container and try to adjust the margins to 0
.page-layout{
  margin: 0;
}

  span{
  font-family: "Times New Roman";
  color: #F46400;
  font-size: 40px;
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
  }
  .btn{
    background-color: #34A8C4;
    color: white;
    border: 1px solid #2F98B1;
    font-family: "Helvetica";
  }
  .input-group{
    width: 35%;
    margin-left: 120px;
    vertical-align: top;
    bottom: 40px;


  }
  .search-bar{
    // display: inline-block;
  }
}


.quick-categories{
  height: 43px;
  background-color: white;
  border-bottom: 1px solid #DBDBD8;
  color: #777777;

  .broad-cat{
    margin-left: 37px;
    padding-top: 8px;
  }

  a{
    font-size: 17px;
    color: #777777;
    text-decoration: none;
    margin-right: 10px;
  }
}

.top-right{
  text-align: right;
  position: relative;
  bottom: 75px;

}


.item-tile{
  max-height: 223px;
  overflow: hidden;
  width: 222px;
  margin-bottom: 24px;

  .title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  a{
    width:100%;
  }
  img{
    width: 100%;
    height: 176px;

  }

  .footer{
    background-color: white;
    height: 47px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }

}

.item-square{
  border: 1px solid #E1E3DF;
  // border-radius: 20px;
  margin-bottom: 20px;
}


//text overflow - whitespace no wrap for
